@charset "utf 8";
#body{
    margin: 0px;
    padding:0px;
}
#img
{
    width: 1200px;
    height: 600px;
  background-image:url("./file.jpg.jpg");
  margin: auto;
}
#logo
{
    width: 77px;
    height: 40px;
    margin-top: 40px;
    margin-left: 40px;
    background-size: cover;
    background-image: url(./as.jpg);
    float: left;

}
#menu{
    width: 700px;
    height: 100px;
    float: right;
     margin:0;
     padding:0;
     margin-right: 150px;
       
}
#menu>li{
    width: 100px;
    height: 100px;
    float: left;
    font-size: 22px;
    list-style: none;
    text-align: center;
    color: antiquewhite;
    line-height: 100px;                                                                                            
content: "✔";
}

#menu>li:hover
{
    cursor: pointer;
    cursor: auto;
    color: rgb(22, 227, 90);
}

